<div id="login-card">
    <div>
        <div>
            <h1>Login</h1>
        </div>
        <div id="container-forms">
            <div>
                <div>
                    <p>
                        Login :
                    </p>
                </div>
                <div class="container-input">
                    <input #inputLogin type="text" />
                </div>
            </div>
            <div>
                <div>
                    <p>
                        password :
                    </p>
                </div>
                <div class="container-input">
                    <input #inputPass type="password" />
                </div>
            </div>
            <div id="container-button">
                <button (click)="sendForm()">SEND</button>
            </div>
            <div>
                <p id="error-label">{{ labelError }}</p>
            </div>
        </div>
    </div>
</div>